In [1]:
import numpy as np
import pandas as pd
import yfinance as yf
from utils import *

config = read_config('config.yml')

In [2]:
asx200_list = pd.read_excel(config['asx200_list'])

start_date = config['start_date']
end_date = config['end_date']

codes = list(asx200_list.Code)

for code in codes:
    try:
        company_prices = yf.Ticker(code + '.AX').history(start=start_date, end=end_date)
        company_prices['code'] = code
        historical_prices = pd.concat([historical_prices, company_prices])
    except:
        print('begin')
        historical_prices = yf.Ticker(code + '.AX').history(start=start_date, end=end_date)
        historical_prices['code'] = code

begin
- APT.AX: No data found, symbol may be delisted
- AST.AX: No data found, symbol may be delisted
- BIN.AX: No data found, symbol may be delisted
- CCL.AX: No data found, symbol may be delisted
- CIM.AX: No data found, symbol may be delisted
- GXY.AX: No data found, symbol may be delisted
- MLT.AX: No data found, symbol may be delisted
- ORE.AX: No data found, symbol may be delisted
- OSH.AX: No data found, symbol may be delisted
- SKI.AX: No data found, symbol may be delisted
- SLK.AX: No data found, symbol may be delisted
- SYD.AX: No data found, symbol may be delisted
- TLT.AX: No data found, symbol may be delisted
- VOC.AX: No data found, symbol may be delisted
- Z1P.AX: No data found, symbol may be delisted

In [3]:
data_value_counts = historical_prices.code.value_counts()
companies_5y = data_value_counts[data_value_counts==config['5y_companies']].index.tolist()
companies_5y_historical_prices = historical_prices[historical_prices.code.isin(companies_5y)]
companies_5y_historical_prices = companies_5y_historical_prices.loc[:,['Open','High','Low','Close','Volume','code']]

In [4]:
companies_5y_historical_prices.to_excel(config['asx200_historical_price'])

In [5]:
companies_5y_historical_prices

                 Open       High        Low      Close     Volume code
Date
2017-07-10   3.690000   3.710000   3.650000   3.660000  1762214.0  A2M
2017-07-11   3.790000   3.850000   3.740000   3.770000  4818463.0  A2M
2017-07-12   3.780000   3.810000   3.740000   3.760000  2323223.0  A2M
2017-07-13   3.810000   3.820000   3.750000   3.760000  1991029.0  A2M
2017-07-14   3.770000   3.810000   3.750000   3.780000  2375715.0  A2M
...               ...        ...        ...        ...        ...  ...
2022-07-04  24.200001  24.500000  24.010000  24.500000     4414.0  ZIM
2022-07-05  24.500000  24.500000  24.049999  24.059999     2339.0  ZIM
2022-07-06  24.000000  24.000000  23.059999  23.580000    14365.0  ZIM
2022-07-07  23.500000  23.500000  21.770000  21.900000    21624.0  ZIM
2022-07-08  21.790001  22.940001  21.790001  22.639999     8955.0  ZIM

[217924 rows x 6 columns]